.colsmall {
  font-size: 8.5pt;
  line-height: 9.1pt;
  column-gap: 20px;
  page-break-inside: avoid;
  break-inside: avoid;
  word-wrap: break-word;
  padding: 0 15px 15px;
  letter-spacing: -0.3pt;
  columns: 1;
  padding: 0 10px;
  margin-bottom: 20px;
}

.colsmall p:first-line {
  font-weight: 700;
}

.colsmall h1 {
  font-size: 11pt;
  line-height: 12pt;
  margin: 0;
  padding: 0;
  background: black;
  color: white;
  padding: 4px 4px 0;
}

.colsmall h2 {
  font-size: 10pt;
  line-height: 11pt;
  margin: 0 0 5px;
  padding: 0;
  background: black;
  color: white;
  padding: 0 4px 4px;
}

.colsmall {
  columns: 1;
  padding: 0 10px;
}

@media (min-width: 221px) {
  .colsmall {
    columns: 2;
  }
}

@media (min-width: 321px) {
  .colsmall {
    columns: 2;
  }
}

@media (min-width: 600px) and (min-width: 748px) {
  .colsmall {
    columns: 4;
  }
}

@media (min-width: 380px) and (min-width: 644px) {
  .colsmall {
    columns: 3;
  }
}

@media (min-width: 800px) {
  .colsmall {
    columns: 4;
  }
}

@media (min-width: 1200px) {
  .colsmall {
    columns: 4;
  }
}

@media (min-width: 3000px) {
  .colsmall {
    columns: 6;
  }
}
